.av-main {
    background: $main-bg;
    @include width-height(100%, 100vh);
    display: grid;
}
.jumbo-div {
    height: 90vh;
    background: $tan-bg;
    font-family: $title-font;
    font-size: 40px;
    color: $main-bg;
    border-radius: 10px;
    margin: auto 25px;
    display: grid;
}
.av-tan {
    display: grid;
    grid-template-rows: 30% 15%;
    justify-items: center;
    align-content: space-evenly;
}
.av-black{
    height: 300px;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    align-items: center;
    justify-items: center;
    background: $grey-bg;
    font-family: $main-font;
    font-size:  20px;
    letter-spacing: 2px;
    color: $words;
    border-radius: 10px;
}
.av-book {
    @include width-height(150px, 150px);
}

.btn {
    @include btn-style;
    height: 50px;
    font-size: 20px;
    margin: 20px;
}
.av-label {
    margin: auto 30%
}

.av-inputs {
    border-radius: 7px;
    background: $words;
    margin: 2% 10%;
    width: 80%
}