.browse-main {
	background-color: $main-bg;
	background-repeat: repeat;
	@include width-height(100%, 100%);
}

.tan-container {
	@include tan;
	height: 100%;
}

.top-tan {
	display: grid;
}

.title {
	@include title;
	padding: 10px;
}

.options {
  font-family: $main-font;
	display: grid;
	justify-content: center;
	grid-gap: 5px;
}

.browse-btn {
	@include btn-style;
}

.form-check-inline {
  //overrides reactstrap styling
  margin: 0;
  padding: 0;
}
.form-inline .form-check {
	width: 50%;
}
.checkboxes {
	padding: 10px;
}

.genre-select {
  display: flex;
  margin: 5px auto;
}

.label-genre {
  margin: 5px;
}

.this-btn {
  margin: 0px auto;
}