.cart-main {
	background-color: $main-bg;
	background-repeat: repeat;
	@include width-height(100%, 100%);
	min-height: 100vh;
}

.cart-tan {
	@include tan;
	height: 100%;
	min-height: 82vh;
}

.cart-top-tan {
	margin: 10px auto;
	button {
		margin: auto;
	}
}

.cart-title {
	@include title;
}

.cart-book-container {
	@include width-height(85%, 90%);
	background-color: $words;
	margin: 20px auto;
	border-radius: 10px;
	.book-cover {
		margin: 15px 26.4%;
	}
}

.cart-btns {
	@include btn-style;
}
