.details-main {
	background-color: $main-bg;
	@include width-height(100%, 100%);
	display: grid;
	grid-template-rows: min-content;
}

.details-tan {
	@include tan;
	grid-template-rows: 10% 5% 85%;
	align-items: center;
	align-content: center;
}

.details-title {
	@include title;
}

.details-book-container {
	@include width-height(85%, 92%);
	background-color: $words;
	margin: 20px auto;
	border-radius: 10px;
	.book-cover {
		margin: 15px 26.4%;
	}
}

.book-info {
	font-family: $title-font;
	line-height: normal;
	font-size: 1.2em;
	padding: 0px 20px 20px 20px;
	.book-info-details {
		font-family: $main-font;
		font-size: .9em;
	}
}
.description {
	height: 100px;
	overflow: auto;
}
.details-btns-container {
	margin-top: 10px;
}
.details-btns {
	@include btn-style;
	height: 2.2em;
	font-size: 0.8em;
	margin: 4.6px;
	padding: 4px;
}

.details-back-btn {
	@include btn-style;
	margin: auto auto;
}
