@import url("https://fonts.googleapis.com/css?family=Alegreya+SC:700i|Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.av-main {
  background: #4e1e29;
  width: 100%;
  height: 100vh;
  display: grid; }

.jumbo-div {
  height: 90vh;
  background: #c6b38e;
  font-family: "Alegreya SC", serif;
  font-size: 40px;
  color: #4e1e29;
  border-radius: 10px;
  margin: auto 25px;
  display: grid; }

.av-tan {
  display: grid;
  grid-template-rows: 30% 15%;
  justify-items: center; }

.av-black {
  height: 300px;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  align-items: center;
  justify-items: center;
  background: #242325;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fbffe6;
  border-radius: 10px; }

.av-book {
  width: 150px;
  height: 150px; }

.btn {
  height: 34px;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 32px;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  height: 50px;
  font-size: 20px; }

label {
  margin: auto 30%; }

input {
  border-radius: 7px;
  background: #fbffe6;
  margin: 2% 10%;
  width: 80%; }

.nav-main {
  background-color: #020402; }

.nav-logo {
  width: 60px;
  height: 60px; }

.navbar-toggler {
  border: 1px solid #c6b38e; }

button:focus {
  outline: 5px auto #c6b38e; }

h2 {
  font-size: 24px;
  font-family: "Alegreya SC", serif;
  color: #c6b38e;
  padding: 10px 0px; }

.logout-button {
  background: none;
  border: none;
  padding: 0px;
  margin: 0; }

.browse-main {
  background-color: #4e1e29;
  background-repeat: repeat;
  width: 100%;
  height: 100%; }

.tan-container {
  background-color: #c6b38e;
  width: 85%;
  height: 100%;
  margin: 25px auto;
  border-radius: 10px; }

.title {
  font-size: 2.2em;
  font-family: "Alegreya SC", serif;
  color: #4e1e29;
  width: max-content;
  padding: 20px;
  margin: 10px auto; }

label {
  font-family: "Open Sans", sans-serif; }

.inStock {
  display: inline; }

.outStock {
  display: inline; }

button {
  height: 34px;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 32px;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  height: 40px;
  font-size: 15px; }

.checkboxes {
  padding: 10px; }
  .checkboxes .form-inline .form-check {
    width: 50%; }

.book-card {
  font-family: "Open Sans", sans-serif;
  background-color: #fbffe6;
  width: 85%;
  margin: 15px auto;
  display: grid;
  justify-items: center;
  border-radius: 10px; }

.title-author {
  text-align: center;
  line-height: 25px;
  padding: 5px 20px; }
  .title-author h1 {
    font-size: 1.2em;
    font-weight: bold; }
  .title-author p {
    font-size: 0.7em; }
  .title-author h4 {
    font-size: 1.1em; }

.inStock-details {
  font-family: "Alegreya SC", serif;
  font-size: 1.1em;
  padding: 10px; }
  .inStock-details span {
    font-family: "Open Sans", sans-serif; }

img {
  width: 110px;
  height: 130px;
  margin-top: 20px; }
