@import url("https://fonts.googleapis.com/css?family=Alegreya+SC:700i|Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.av-main {
  background: #4e1e29;
  width: 100%;
  height: 100vh;
  display: grid; }

.jumbo-div {
  height: 90vh;
  background: #c6b38e;
  font-family: "Alegreya SC", serif;
  font-size: 40px;
  color: #4e1e29;
  border-radius: 10px;
  margin: auto 25px;
  display: grid; }

.av-tan {
  display: grid;
  grid-template-rows: 30% 15%;
  justify-items: center;
  align-content: space-evenly; }

.av-black {
  height: 300px;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  align-items: center;
  justify-items: center;
  background: #242325;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fbffe6;
  border-radius: 10px; }

.av-book {
  width: 150px;
  height: 150px; }

.av-btn {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none;
  margin: 20px; }

.av-label {
  margin: auto 30%; }

.av-inputs {
  border-radius: 7px;
  background: #fbffe6;
  margin: 2% 10%;
  width: 80%; }

.auth-title {
  margin: auto; }

.nav-main {
  background-color: #020402; }

.nav-logo {
  width: 60px;
  height: 60px; }

.navbar-toggler {
  border: 1px solid #c6b38e; }

button:focus {
  outline: 5px auto #c6b38e; }

h2 {
  font-size: 24px;
  font-family: "Alegreya SC", serif;
  color: #c6b38e;
  padding: 10px 0px; }

.logout-button {
  background: none;
  border: none;
  padding: 0px;
  margin: 0; }

.browse-main {
  background-color: #4e1e29;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

.tan-container {
  background-color: #c6b38e;
  border-radius: 10px;
  width: 85%;
  margin: 7.5% auto;
  display: grid;
  height: 100%;
  min-height: 82vh; }

.top-tan {
  display: grid; }

.title {
  font-size: 2.1em;
  font-family: "Alegreya SC", serif;
  color: #4e1e29;
  width: max-content;
  margin: 10px auto;
  padding: 10px; }

.options {
  font-family: "Open Sans", sans-serif;
  display: grid;
  justify-content: center;
  grid-gap: 5px; }

.browse-btn {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none; }

.form-check-inline {
  margin: 0;
  padding: 0; }

.form-inline .form-check {
  width: 50%; }

.checkboxes {
  padding: 10px; }

.genre-select {
  display: flex;
  margin: 5px auto; }

.label-genre {
  margin: 5px; }

.this-btn {
  margin: 0px auto; }

.book-card {
  font-family: "Open Sans", sans-serif;
  background-color: #fbffe6;
  width: 85%;
  margin: 15px auto;
  display: grid;
  justify-items: center;
  border-radius: 10px; }

.title-author {
  text-align: center;
  line-height: 25px;
  padding: 5px 20px; }
  .title-author h1 {
    font-size: 1.2em;
    font-weight: bold; }
  .title-author p {
    font-size: 0.7em; }
  .title-author h4 {
    font-size: 1.1em; }

.inStock-details {
  font-family: "Alegreya SC", serif;
  font-size: 1.1em;
  padding: 10px;
  display: grid;
  grid-template-rows: 24px 60px;
  justify-items: center; }
  .inStock-details span {
    font-family: "Open Sans", sans-serif; }

.book-cover {
  width: 110px;
  height: 150px;
  margin: 20px 0 10px 0; }

.books-btn {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none;
  font-size: 0.9em; }

.details-main {
  background-color: #4e1e29;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content; }

.details-tan {
  background-color: #c6b38e;
  border-radius: 10px;
  width: 85%;
  margin: 7.5% auto;
  display: grid;
  grid-template-rows: 10% 5% 85%;
  align-items: center;
  align-content: center; }

.details-title {
  font-size: 2.1em;
  font-family: "Alegreya SC", serif;
  color: #4e1e29;
  width: max-content;
  margin: 10px auto; }

.details-book-container {
  width: 85%;
  height: 92%;
  background-color: #fbffe6;
  margin: 20px auto;
  border-radius: 10px; }
  .details-book-container .book-cover {
    margin: 15px 26.4%; }

.book-info {
  font-family: "Alegreya SC", serif;
  line-height: normal;
  font-size: 1.2em;
  padding: 0px 20px 20px 20px; }
  .book-info .book-info-details {
    font-family: "Open Sans", sans-serif;
    font-size: .9em; }

.description {
  height: 100px;
  overflow: auto; }

.details-btns-container {
  margin-top: 10px; }

.details-btns {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none;
  height: 2.2em;
  font-size: 0.8em;
  margin: 4.6px;
  padding: 4px; }

.details-back-btn {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none;
  margin: auto auto; }

.edit-main {
  background-color: #4e1e29;
  display: grid; }

.edit-tan {
  background-color: #c6b38e;
  width: 85%;
  margin: 5% auto;
  border-radius: 10px;
  display: grid;
  justify-items: center; }

.edit-title {
  font-size: 2.1em;
  font-family: "Alegreya SC", serif;
  color: #4e1e29;
  width: max-content;
  margin: 10px auto; }

.edit-back-btn {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none; }

.edit-form {
  display: grid;
  justify-items: center; }

.edit-book-cover-container {
  display: grid; }

.edit-book-cover {
  width: 110px;
  height: 150px;
  margin: 15px auto;
  border: 1px solid rgba(0, 0, 0, 0.4); }

.edit-inputs {
  border-radius: 7px;
  background: #fbffe6;
  margin: 2% 10%;
  width: 80%;
  font-family: "Open Sans", sans-serif; }

.col-form-label {
  font-family: "Open Sans", sans-serif;
  display: grid;
  justify-items: center; }

.btn-secondary {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none;
  padding: 7.2px; }

.cart-main {
  background-color: #4e1e29;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

.cart-tan {
  background-color: #c6b38e;
  border-radius: 10px;
  width: 85%;
  margin: 7.5% auto;
  display: grid;
  height: 100%;
  min-height: 82vh; }

.cart-top-tan {
  margin: 10px auto; }
  .cart-top-tan button {
    margin: auto; }

.cart-title {
  font-size: 2.1em;
  font-family: "Alegreya SC", serif;
  color: #4e1e29;
  width: max-content;
  margin: 10px auto; }

.cart-book-container {
  width: 85%;
  height: 90%;
  background-color: #fbffe6;
  margin: 20px auto;
  border-radius: 10px; }
  .cart-book-container .book-cover {
    margin: 15px 26.4%; }

.cart-btns {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none; }

.shelf-main {
  background-color: #4e1e29;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

.shelf-tan {
  background-color: #c6b38e;
  border-radius: 10px;
  width: 85%;
  margin: 7.5% auto;
  display: grid;
  height: 100%;
  min-height: 82vh; }

.shelf-title {
  font-size: 2.1em;
  font-family: "Alegreya SC", serif;
  color: #4e1e29;
  width: max-content;
  margin: 10px auto; }

.shelf-book-container {
  width: 85%;
  height: 90%;
  background-color: #fbffe6;
  margin: 20px auto;
  border-radius: 10px; }
  .shelf-book-container .book-cover {
    margin: 15px 26.4%; }

.shelf-btns {
  height: 2.4em;
  background: #a52422;
  font-family: "Alegreya SC", serif;
  font-size: 1em;
  border-radius: 7px;
  margin: 10px;
  color: #c6b38e;
  padding: 10px;
  border: none; }
